<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

<link rel="stylesheet" type="text/css" th:href="@{/lib/common/layui/css/layui.css}" media="all">
<script type="text/javascript" th:src="@{/lib/common/layui/layui.js}"></script>
<script type="text/javascript" th:src="@{/js/date.js}"></script>
<script type="text/javascript" th:src="@{/lib/common/layui/lay/modules/jquery.js}"></script>
<script type="text/javascript" th:src="@{/lib/common/layui/lay/modules/table.js}"></script>
<script type="text/javascript" th:src="@{/lib/common/layui/lay/modules/layer.js}"></script>
<style type="text/css">

	body{overflow-y: scroll;}
	.layui-table-cell{
		height:60px;
		ling-height:60px;
	}
	.layui-table-page{
		margin-bottom: 24px;
	}
</style>
<script type="text/html" id="op">
  <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
  <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
<script type="text/javascript">
	var $=layui.jquery;
	var finds_url="/admin/advertise/findByType?type=2",deleteId_url='backDelete/',deleteIds_url='deleteAll',editor_url='/admin/advertise/editor/';//设置所有的path路径
	var table_id='tt';
layui.use('table', function(){
	  var table = layui.table;
	  //第一个实例
	  table.render({
	    elem: '#'+table_id,
	    url: finds_url ,//数据接口
	    page: {
	    	layout: ['prev', 'page', 'next', 'skip','limit', 'count'] ,//自定义分页布局
	    	hash:'fenye',
	    	groups: 1 ,//只显示 1 个连续页码
	    	last: false //不显示尾页
	    	
	    },
	    initSort: {
	        field: 'sort' //排序字段，对应 cols 设定的各字段名
	        ,type: 'asc' //排序方式  asc: 升序、desc: 降序、null: 默认排序
	      },
	    cols: [
	    	[ //表头
	      {type:'checkbox'},
	      {field: 'sort',sort:true, title: '广告图排序', align:'center'},
	      {field: 'pics',title: '图片',height:60, align:'center',templet:function(value){
	    	  return '<img src="'+value.pics+'" width=60px height=60px><a href="'+value.pics+'" target="_blank" class="layui-btn layui-btn-primary layui-btn-xs">查看大图</a>';
	      }},
	      {field: 'type', title: '类型',align:'center',templet:function(d){
	    	  switch(d.type){
	 			 case 1: return "banner图";
	 			 case 2:return "背景图";
	 			 case 3: return "简介介绍";
	 			 default :return "类型未确定";
 			 }
	      }},
	      {field:'describetion',title:'描述',align:'center'},
 		  {field:'createTime',title:'创建时间',align:'center',templet:function(value){
	 			if(value.createTime!=null){
	 				 var date=new Date(value.createTime).format("yyyy-MM-dd");
	 				 return date;
	 			 }
	 			 return value.createTime;
	 		 }},
				 {field:'updateTime',title:'修改时间',align:'center',templet:function(value){
					if(value.updateTime!=null){
		 				 var date=new Date(value.updateTime).format("yyyy-MM-dd");
		 				 return date;
	 			 	}
	 			 return value.updateTime;
	 		 }},
	       {field: 'operate',title: '操作', align:'center',toolbar:'#op'}
	      
	    ]
	    	]
	  }); 
	  /**
	  监听工具条的响应事件
	  */
	  table.on('tool(demo)', function(obj){
		    var data = obj.data;
		    if(obj.event === 'detail'){
		      layer.msg('ID：'+ data.id + ' 的查看操作');
		    } else if(obj.event === 'del'){
		      layer.confirm('真的删除行么', function(index){
		        obj.del();
		        $.ajax({
					type: "delete",
				    url: deleteId_url+data.id,
				    success: function(msg){
				    }
				});
		        layer.close(index);
		      });
		    } else if(obj.event === 'edit'){
		      //layer.alert('编辑行：<br>'+ JSON.stringify(data))
		    	window.location.href=editor_url+data.id;
		    }
		  });
	  /**处理选中的数据*/
	  var $ = layui.$, active = {
		  delData:function(){ //获取选中数据
			  layer.confirm('确定删除所选数据？', function(index){
				  var checkStatus = table.checkStatus(table_id)
			      ,data = checkStatus.data;
			      //layer.alert(JSON.stringify(data));
			      var ids=[];
			      data.forEach(function(n,i){
			    	  var id={};
			    	  id['id']=n.id;
			    	  ids.push(id);
			      });
			      $.ajax({
						type: "post",
					    url: deleteIds_url,
					    contentType: "application/json;charset=utf-8",
					    //dataType:'json',
					    data:JSON.stringify(ids),
					    success: function(msg){
					    	table.reload(table_id,{
					    		page: {
					    		    curr: location.hash.replace('#!fenye=', '') //从第当前页继续
					    		  }
					    	});
					    }
					});
			      layer.close(index);
			  });
		    }
	  }
	  $('.buttons .layui-btn').on('click', function(){
		    var type = $(this).data('type');
		    active[type] ? active[type].call(this) : '';
		  });
	});
	
</script>
</head>
<body>
<div class="buttons">
<a class="layui-btn layui-btn-primary" href='/admin/advertise/add?type=2' style="margin-left:20px;margin-top: 15px;">增加</a>
<a class="layui-btn layui-btn-primary" data-type="delData"  href="javascript:;"  style="margin-left:20px;margin-top: 15px;">删除</a>
</div>
<table id="tt" lay-filter="demo">
</body>
</html>